<%- include('layouts/header'); -%>
<main>
    <h1>Hello Index page!!!</h1>
    <form action="/12" method="post">
        <input name="name" type="text">
        <input name="email" type="text">

        <button type="submit">Submit</button>
    </form>
</main>
<%- include('layouts/footer'); -%>