<%- include('../layouts/header'); -%>
<main class="container">
    <h1>Form Create</h1>
    <form action="/products" method="post">
        <label>Name</label>
        <input type="text" class="form-control">
        <label>Description</label>
        <input type="text" class="form-control">
        <button type="submit" type="button" class="btn btn-outline-warning">
            Submit
        </button>
    </form>
</main>

<%- include('../layouts/footer'); -%>